---
const {
  iosText,
  iosHref = '#',
  googlePlayHref = 'https://play.google.com/store/apps/details?id=health.bluma&hl=en',
} = Astro.props;
---

<div class="cta-row">
  <a class="cta google" href={googlePlayHref} aria-label="Get Bluma on Google Play">
    <img src="/assets/images/google-play-badge.svg" alt="Get it on Google Play" />
  </a>
  <a class="cta-helper ios-notify" href={iosHref}>
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
      <path
        d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6V11c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
      />
    </svg>
    {iosText}
  </a>
</div>

