---
const {
  iosText,
  googlePlayHref = 'https://play.google.com/store/apps/details?id=health.bluma&hl=en',
} = Astro.props;
---

<div class="cta-row">
  <a class="cta google only-android" href={googlePlayHref} aria-label="Get Bluma on Google Play">
    <img src="/assets/images/google-play-badge.svg" alt="Get it on Google Play" />
  </a>
  <a class="cta-helper ios-notify ml-onclick-form only-ios" href="javascript:void(0)" onclick="ml('show', 'cmwKqH', true)">
    {iosText}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
      <path d="M12 4l-1.41 1.41L15.17 10H4v2h11.17l-4.58 4.59L12 18l8-8z" />
    </svg>
  </a>
</div>

